$bIcon: true;
$coloricon:#ff0000;

@mixin iconList ($color , $bIcon) {
  font-family: FontAwesome;
  color:$color;

  @if $bIcon{
    content: "\f219";
  } @else{
    content: "\f208";
  }
}

p {
  font-size: xx-large;
  color: cadetblue;
  text-align: center;
}

.even {
  background-color: rgba(0, 191, 255, 0.308);
  list-style-type: none;
  &::before {
   @include iconList($coloricon, $bIcon:false);
  }

}

.odd {
  background-color: rgb(236, 236, 236);
  list-style-type: none;
  &::before {
   @include iconList($coloricon, $bIcon);
  }

}
